  /*GENERAL*/

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

:root{
    --primary-color: rgb(6, 82, 6);
    --secondary-color: rgb(8, 133, 8);
    --generic-color: white;
    --defaul-color: black;
}

/*Barra de navegación*/

a{text-decoration: none;}
li{list-style: none;}

header{
    max-width: 100%;
    padding: 20px 10px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 300;
    font-size: 1.2em;
}

header .log{
    flex-grow: 1;
    color: var(--generic-color);
}
header .log p{font-weight: bold;font-style: oblique;font-size: 1.3em;}

header nav{flex-grow: 1;}
header nav ul{
    display: flex;
    flex: wrap;
    justify-content: center;
}
header nav ul li a{
    color: var(--generic-color);
    margin: 0px 40px;
    padding: 5px 10px;
    border: 1px solid;
    transition: all ease 0.7s;
}
header nav ul li a:hover{
    background-color: var(--generic-color);
    color: var(--defaul-color);
    border: 1px solid var(--defaul-color);
}

@media screen and (max-width:800px){
    header{
        display: block;
        text-align: center;
    }  
header .log{
    margin: 0px 10px 10px 10px;
    padding: 10px;
    font-size: 1.2em;
}
}


main{
    width:100%;
    padding:10px 20px;
    box-sizing: border-box;
}

/*Sección de tarjetas*/

.cards{
    width:85%;
    padding: 10px 10px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card{
    width: 46%;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*img*/
.cards .card img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.cards .card .title-card{
    margin: 5px 0px 10px 0px;
    font-weight: bold;
}
.cards .card .text-card
{margin-bottom: 15px;}
.cards .card .btn-card
{  
    text-align: center;
    margin: 50px auto;
}

.cards .card .btn-card a{
    color: var(--defaul-color);
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    transition: all ease .7s;
  
}
.cards .card .btn-card a:hover{
    background-color: var(--secondary-color);
    color: var(--generic-color);
}


@media screen and (max-width:800px){
    .cards{
        width: 95%;
        flex-direction: column;
    }
    .cards .card{
        width: 100%;
        margin: 10px auto;
    }    
}
