#main{

    width: 90%;
    margin: 50px auto;
    background-color: tomato;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main article{
    width: 30%;
    background-color: turquoise;
}

#main form{
    background-color: wheat;
    width: 60%;
}