
*{
    border:0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;



}

h3 span{
    color: rgb(194, 122, 13);
    font-weight: normal;
}

nav{
    /* position:fixed;
    width:100%; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(55, 87, 4);
}

nav ul li a:hover{
    background-color:white;
    color:black;
    border-radius: 3px;
    transition: all .7s ease;
}


.logo{
    color: white;
    text-transform: uppercase;
    font-size:20px;
}

ul{
    display: flex;
    justify-content:space-around;
    width: 30%;
}

ul li{
    list-style: none;
}

nav ul li a{
  color: rgb(255, 254, 254);
  border:1px solid #ffff;
    padding: 4px 20px;
  text-decoration: none;
  letter-spacing:1px;
  font-weight:500;
  font-size:16px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
   width:25px;
   height: 3px;
   background-color: rgb(255, 255, 255);
   margin: 5px;
   transition: all 0.5s ease;
}

@media screen and (max-width:1024px){
ul{
    width:50%;
}
}


@media screen and (max-width:750px){
    ul{
        overflow: hidden;/*Esconde la lista debido a que se encuentra a un lado*/
    }
    nav{
        width:100%;
        position: fixed;
    }
    ul{
        position:fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(29, 122, 29);
        display:flex;
        flex-direction:column;
        align-items:center;
        width:100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }      

    .burger{
        display:block;
    }
}

.nav-active{
    transform:translateX(0%);
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);  
}


.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);  
}
