

a{text-decoration: none; padding: 1px;}
.select{
    background-color:white;
    color:black;
    border-radius: 3px;
}


main{
        width: 100%;
        height: 100vh;
        background-image:url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
        background-size:cover; 
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;    
}

#main{

    width: 90%;
    margin: 0px auto;
    padding: 40px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Formulario  */

#main form{
    border: 1px solid black;
    background-color: white;
    padding: 40px 20px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    display: flex;
    flex-direction: column;
}

#main form label{
    margin: 6px 0px;
    font-size: 1.2em;
    font-weight: 300;
}
#main form input[type="text"],input[type="email"]{
    font-size: 1.2em;
    padding: 5px 10px;
    border-bottom: 1px solid green;
    outline: none;
}  
#main form input[type="number"]{
    width: 50%;
    font-size: 1.2em;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid green;
    outline: none;
}


#main form input[type="submit"]{
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2em;
    transition: all ease .3s;
}

#main form input[type="submit"]:hover{
    color: white;
    background-color: green;
}


@media screen and (max-width:800px){
    #main{
        display: block;
        width: 95%;
        margin:0px auto;
        padding: 20px 10px;
    }
    #main form{
        width: 100%;
        margin: 50px auto 30px auto;
     }

    }



/*  Aside */

    #main article{
        box-sizing: border-box;
        padding: 10px 30px;
        border-radius: 20px;
        border: 3px solid rgb(201, 218, 201);
        background-color: rgba(140, 167, 140, 0.7);
        width: 30%;
        }
    
    #main article h2{
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 1.4em;
    }

    
    #main article p
    {
      padding: 1px;
      font-size: 1em;
      font-weight:bold;
      margin-bottom: 10px;
    }

    #main article p a
    {
        color: white;
        background-color: rgb(1, 83, 1);
        padding: 0px 5px;
    }
    
@media screen and (max-width:1000px){
  
   main{
       
    margin: 0px auto 30px auto;
    background: transparent;
   }

    #main article{
       width: 100%;
       font-size:.8em;
       padding:10px;  
       margin:0px auto 50px 0px;  
    }

}
