<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/artticles_obj.css" type="text/css"/>
    <link rel="stylesheet" href="/css/nav.css" type="text/css"/>
    <link rel="stylesheet" href="/css/footer.css" type="text/css"/>
    
    <link rel="shortcut icon" href="/img/github.svg" type="image/x-icon">

    <title><%= title %></title>

  </head>
<body>

  <%- include ('../partials/nav.html')%>
 
    <main>
        <section>
          
      <h1>La belleza de lo simple</h1>
       
          <article>
            <p>
              <span>G</span>alaxies ship of the imagination across the centuries at the
               edge of forever take root and flourish billions upon billions. Stirred by 
               starlight how far away not a sunrise but a galaxyrise Sea of Tranquility concept
                of the number one dispassionate extraterrestrial observer. The carbon in our apple
                 pies emerged into consciousness Sea of Tranquility something incredible is waiting
                  to be known made in the interiors of collapsing stars inconspicuous motes of rock and gas.
            </p>
            
            <img src="/img/img3.jpg" alt="img-blog">
            
            <p>
              Galaxies ship of the imagination across the centuries at the edge of 
              forever take root and flourish billions upon billions. Stirred by starlight
               how far away not a sunrise but a galaxyrise Sea of Tranquility concept of the 
               number one dispassionate extraterrestrial observer. The carbon in our apple pies 
               emerged into consciousness Sea of Tranquility something incredible is waiting to 
               be known made in the interiors of collapsing stars inconspicuous motes of rock and gas.
           
              Galaxies ship of the imagination across the centuries at the edge of forever take root and
             flourish billions upon billions. Stirred by starlight how far away not a sunrise but a galaxyrise
             Sea of Tranquility concept of the number one dispassionate extraterrestrial observer. The 
             carbon in our apple pies emerged into consciousness Sea of Tranquility something incredible is
             waiting to be known made in the interiors of collapsing stars inconspicuous motes of rock and gas.
           
              
                 Galaxies ship of the imagination across the centuries at the edge of forever 
                 take root and flourish billions upon billions. Stirred by starlight how far away 
                 not a sunrise but a galaxyrise Sea of Tranquility concept of the number one dispassionate 
                 extraterrestrial observer. The carbon in our apple pies emerged into consciousness Sea of 
                 Tranquility something incredible is waiting to be known made in the interiors of collapsing
                  stars inconspicuous motes of rock and gas. 
            </p>

            
        
        
        <div id="fb-root">
            <div id="icon-fixed">
              <div class="fb-share-button" id="face" 
          data-href="https://gabriel-22-01-2000.github.io/Proyecto-Eco-Carmen/" 
          data-layout="button_count" data-size="large">
          </div>  
            </div>
        </div>    
            
          </article>
        </section>
      </main>
      
  <footer>
    @2020 gajuarezdelac
  </footer>        
      
      <script src="/js/share.js"></script>
      <script src="/js/app.js"></script>
</body>
</html>