
<footer>
    <a href="mailto:bicosind@gmail.com?subject=Eco%20Carmen%20-%20Unirse&body=Me%20quiero%20unir%20a%20la%20causa!!!" target="_blank">
            <img src="./img/email.svg" alt="Email">
            <p>Gmail</p>
        </a>
        
         
        <a href="https://www.facebook.com/gabriel.juarezdelacruz.184/" target="_blank">
            <img src="./img/facebook.svg" alt="Facebook">
            <p>Facebook</p>
        </a>
        
         
      <a href="https://github.com/Gabriel-22-01-2000/Proyecto-Eco-Carmen" target="_blank">
            <img src="./img/github.svg" alt="github">
            <p>Github</p>
         </a>   
    </footer>

